
body {
    background-color: #353535;
}
h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;

}

p {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;

}

#knapp {
    background-color: #5A1848;
    border: 1px Solid black;
    color: white;
    padding: 15px 32px;
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: inline block;
    width: 25%
}
