
body {
    background-color: #353535;
}
h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;

}

p {
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;

}
