
*{
    color: white;
    font-family: 'Poppins', sans-serif;
}

html{
    position: relative;
    min-height: 100%;
}

p, h2, h3, h4, h5, h6{
    background-color: #353535;
}
body{
    height: 100%;
    padding: 0;
    margin: 0 0 64px;
    font-size: 16px;
    background-color: #F1f1f1;
}
#innhold{
    height:auto;
    display: block;
    overflow: hidden;
    margin: 10px;
}
.artikkel{
    box-shadow: 4px 4px 15px black;
    background-color: #353535;
}

#hoved_header{
    font-size: 0;
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
}

#hoved_header > img{
    height: 300px;
    width: 100%;
}

#hoved_header > h1{
    font-size: 48px;
    background-color: #53143B;
    width: 90%;
    padding: 10px 5%;
    height: 50px;
    margin:0;
}

#ballersFooter {
  background-color: #3A3A3A;
  height:50px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;

}

#ballersFooter *{
    height: 50px;
    width: 50px;
}

#ballersFooter a{
    display: block;
    float: left;
}
