*{
    color: white;
    font-family: 'Poppins', sans-serif;
}

p, h2, h3, h4, h5, h6{
    background-color: #353535;
    padding: 10px;
}

h1{
    background-color: #53143B;
}

body{
    margin:0;
    width: 100%;
    font-size: 16px;
    background-color: #F1f1f1
}

.artikkel{
    box-shadow: 4px 4px 15px black;
    background-color: #353535;
}

header{
    font-size: 3em;
    display: block;
}

header > img{
    width: 100%;
    height: 40vh;
}

header > h1{
    width: 100%;
    height: 60px;
    padding-top: 20px;
    font-size: 50px;
    margin:0;

}
