.artikkel {
    width: 700px;
    margin: auto;
}

input{
    color: #353535;
    padding: 5px;
}

textarea{
    color: #353535;
    padding: 5px;
}

select{
    color: #353535;
    padding: 5px;
    background-color: white;
    width:50%;
    border:2px black;
    border-radius: 4px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

option{
    color: #353535;
    padding: 5px;
}

label[for=navn] {
    font-size:50px;
    font-family: 'Poppins', sans-serif;
    color: white;
    position :relative;
    text-align:center;
    display:block;
}
#navn {
    display:block;
    border: none;
    border-bottom: 1px black;
    width:50%;
    height:35px;
    font-family: 'Poppins', sans-serif;
    margin-left:auto;
    margin-right:auto;
    font-size: 14px;
}
label[for=mail]{
    font-size:50px;
    font-family: 'Poppins', sans-serif;
    color:white;
    display:block;
    text-align:center;
}
#mail {
    border: none;
    border-bottom: 1px solid black;
    width:50%;
    height:35px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-size: 14px;
}
#lag {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color:white;
    text-align:center;
    display:block;
}
#mer_info{
    font-size:50px;
    font-family: 'Poppins', sans-serif;
    color: white;
    display:block;
    text-align: center;
}

textarea[name="mer"]{
    width:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    resize: none;
}
#knapp{
    border: 1px solid black;
    background-color:#5A1848;
    color:white;
    padding: 16px 32px;
    width:50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor:pointer;
    text-align:center;
    font-size: 18px;
}
