body{
    background-color: #353535;
}

/* Legge til pluss */
.accordion:before{
    content: "\002B \0020";
}

.accordion {
    background-color:#5A1848;
    font-size: 25px;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
}


.active, .accordion:hover {
    background-color: #8F115F;
}

/* Legge til minus */
.active:before{
        content: "\002D \0020";
}

.artikkel{
    padding: 10px 18px;
    display:none;
    margin-bottom: 10px;
}