body{
    background-color: #353535;
}

/* Styler "sprørsmålsbarene" */
.accordion {
    background-color:#5A1848;
    font-size: 25px;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #822368;

}

.artikkel{
    padding: 10px 18px;
    display:none;
    margin-bottom: 10px;
}