
#fotballSeksjon{
    margin-left: 1vw;
}
#fotballSeksjon, #basketSeksjon, #håndballSeksjon{
    width: 33vw;
    float:left;
}

#fotballSeksjon img, #basketSeksjon img, #håndballSeksjon img{
    width: 32vw;
    padding: 0;
    height: 32vh;
}
