.artikkel {
  width: 70%;
  float: left;
  text-align: center;
  margin-left: 2%;
}

#kart {
  overflow: hidden;
  float: right;
  background-color: #53143B;
  width: 24%;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  height: auto;
}

#googleMap{
  width:100%;
  height:250px;
}
