body {
  background-color: #3A3A3A;
}


table {
  width: 100%;
  margin-top: 2%;
}

#calendar {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2.5%;
}

.card {
  background-color: #3A3A3A;
  padding-top: 20px;
}

.card-header {
  text-align: center;
  border: none;
  background: #404040;
  color: #ffffff;
  font-weight: 100;
  text-transform: uppercase;
  border-radius: 6px;
  margin-left: 15%;
  margin-right: 15%;
}

#maanedOgAar {
  font-size: 28px;
  border: none;
  background: #404040;
  color: #ffffff;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
}

.knapp{
  width: 100px;
}
.knapp:hover {
  width: 100px;
  font-weight: 700;
  letter-spacing: 3px;
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

td {
  border: none;
  background: #404040;
  color: #ffffff;
  padding: 0;
  text-transform: uppercase;
  width: 130px;
  max-width: 130px;
  height: 130px;
  position: relative;
}

td:hover {
  background: none;
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

td p {
  background: none;
  position: absolute;
  top: 1px;
  left: 5px;
}



th {
  text-align: left;
}

#idag {
  font-weight: 700;
  background: none;
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}

.har_hendelse ul{
  list-style-type: none;
  padding: 0;
  margin: auto;
  width: 80%;
}

.har_hendelse li{
  font-size: 12px;
  background-color: #8F115F;
  margin: 2px;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
