header{
    position: 0;
    box-shadow: white 4px;
    background-color: #53143B;
    color: white;
}

img, ul, a{
    background-color: rgba(0, 0, 0, 0);
}

li{
    background-color: #53143B;
}

#meny{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:right;
}

ul{
    list-style-type: none;
}

#meny > li{
    float: left;
    padding: 5px;
}

.sublist_item{
    display:none
}


