#meny-div{
    height: 60px;
    width: 100%;
}

#meny-div header{
    height: 60px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #53143B;
    color: white;
    overflow: visible;
    z-index: 1;
    font-size: 1.5em;
    font-weight: 900;
}



#logo_link{
    text-align: left;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 20em;
    padding: 0;
    margin: 0 auto;
    background-color: #53143B;

}

#logo_link > img{
    background-color: #53143B;
    height: 50px;
    padding: 5px;
    margin: auto;
    width: auto;
}
#meny a:hover{
    background-color: #8F115F;
}

#meny li:first-child > a{
    height: 60px;
    line-height: 60px;
    padding: 0;
}

#meny ul,#meny li, #meny a{
    height: 40px;
    background-color: #53143B;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0;
    margin: auto;
}

#meny a {
    padding-bottom: 10px;
    height: 30px;
    vertical-align: text-bottom;
}



#meny{
    margin-left: 10%;
    list-style-type: none;
    overflow: visible;
    display: inline-block;
    height: 60px;
    width: 600px;
    margin: auto;
}

#meny > li{
    float: left;
    height: 60px;
    width: 150px;
}

#meny > li > ul > li:first-child{
    height: 60px;
}

#meny .sublist_item{
    display: none;
}

@media only screen and (max-width: 1260px){
    #meny-div{
        height: 120px;
    }
    #meny-div header{
        height: 120px;
    }
    #logo_link{
        height: 40px;
        display: block;
        float: none;
        margin:auto;
    }
    #logo_link img{
        height: 40px;
        padding: 0px;
        display: block;
        float: none;
        margin:auto;
    }
    #meny{
        display: block;
        margin: auto;
        float: none;
    }
}

