html{
    background-color: #D4C5CF
    ;

}

article{
    color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    box-shadow: 5px 10px black;
    background-color: darkgray;
    text-align: center;
    width: 50em;
}