body{
    background-color: #d1d1d1;
}
article {
    background-color: #b1b1b1;
    width: 55em;
    margin: auto;
    box-shadow: 5px 5px 5px 5px darkgray;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    color: #404040;
}
ul{
    color: #404040;
    list-style-position: inside;
}
h1, h2 {
    color: #52153b;
    padding-top: 5px;
}

h2 {
    font-size: 18px;
}

h3{
    color: #604060;
}

#cover{
    width: 55em;
}
